* {
  box-sizing: border-box !important;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

body {
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: 0;
  padding: 0;
  background: linear-gradient(150deg, #333, #111);
  /* background-color: #1e1e1e; */
  font-family: "Roboto", sans-serif;
  color: blanchedalmond;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 80%;
  height: 650px;
}

.error {
  text-align: center;
  background-color: #ff6961;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  width: max-content;
  border-radius: 10px;
  /* transform: scale(0);
    transition: 0.5s; */
  box-shadow: 0 0 5px rgb(240, 102, 0);
}

.bounce-in {
  animation: bounce-in 0.8s ease;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  /* 70% { transform: scale(.9); } */
  100% {
    transform: scale(1);
  }
}

#option_panel {
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border: solid;
  border-color: grey;
  margin-bottom: 50px;
}

#operations {
  width: max-content;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border: solid;
  border-color: grey;
  margin-bottom: 50px;
}

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 15px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15b358;
}

.green:hover {
  background-color: #48e68b;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
  background-color: #6fc6ff;
}

.option {
  margin-bottom: 10px;
  font-size: 18;
  margin-bottom: 10px;
}

/* code for the neumorphic effect from  https://github.com/acovaci/neumorphism-experiments/blob/master/scss/_card.scss */

.plaq {
  border-radius: 10px;
}
.plaq:nth-child(1) {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.08),
    4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.plaq:nth-child(2) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    -4px -4px 4px rgba(255, 255, 255, 0.08) inset,
    4px 4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.plaq:nth-child(3) {
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.08),
    -4px -4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.plaq:nth-child(4) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    4px 4px 4px rgba(255, 255, 255, 0.08) inset,
    -4px -4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.plaq:nth-child(5) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.plaq:nth-child(6) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
}
.plaq:nth-child(7) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
}
.plaq:nth-child(8) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.plaq:nth-child(13) {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.08),
    4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(14) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    -4px -4px 4px rgba(255, 255, 255, 0.08) inset,
    4px 4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(15) {
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.08),
    -4px -4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(16) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    4px 4px 4px rgba(255, 255, 255, 0.08) inset,
    -4px -4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(17) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(18) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(19) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(20) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(150deg, #333, #111);
}
.plaq:nth-child(25) {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.08),
    4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(26) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    -4px -4px 4px rgba(255, 255, 255, 0.08) inset,
    4px 4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(27) {
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.08),
    -4px -4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(28) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    4px 4px 4px rgba(255, 255, 255, 0.08) inset,
    -4px -4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(29) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(30) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(31) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(32) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: linear-gradient(330deg, #333, #111);
}
.plaq:nth-child(37) {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.08),
    4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(38) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    -4px -4px 4px rgba(255, 255, 255, 0.08) inset,
    4px 4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(39) {
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.08),
    -4px -4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(40) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    4px 4px 4px rgba(255, 255, 255, 0.08) inset,
    -4px -4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(41) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(42) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(43) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(44) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#333, #111 200%);
}
.plaq:nth-child(49) {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.08),
    4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(50) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    -4px -4px 4px rgba(255, 255, 255, 0.08) inset,
    4px 4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(51) {
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.08),
    -4px -4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(52) {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56),
    4px 4px 4px rgba(255, 255, 255, 0.08) inset,
    -4px -4px 4px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(53) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(54) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(55) {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.08),
    -2px -2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 0 solid rgba(0, 0, 0, 0);
  background: radial-gradient(#111, #333 200%);
}
.plaq:nth-child(56) {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.08),
    2px 2px 2px rgba(0, 0, 0, 0.56),
    -2px -2px 2px rgba(255, 255, 255, 0.08) inset,
    2px 2px 2px rgba(0, 0, 0, 0.56) inset;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: radial-gradient(#111, #333 200%);
}
