* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #1e1e1e;
  font-family: "Roboto", sans-serif;
  color: blanchedalmond;
}

#container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 80%;
  height: 650px;
}

.error {
  text-align: center;
  background-color: #ff6961;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  width: max-content;
  border-radius: 10px;
  /* transform: scale(0);
    transition: 0.5s; */
  box-shadow: 0 0 5px rgb(240, 102, 0);
}

.bounce-in {
  animation: bounce-in 0.8s ease;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  /* 70% { transform: scale(.9); } */
  100% {
    transform: scale(1);
  }
}

#option_panel {
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border: solid;
  border-color: grey;
  margin-bottom: 50px;
}

#operations {
  width: max-content;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border: solid;
  border-color: grey;
  margin-bottom: 50px;
}

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 15px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15b358;
}

.green:hover {
  background-color: #48e68b;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
  background-color: #6fc6ff;
}

.option {
  margin-bottom: 10px;
  font-size: 18;
  margin-bottom: 10px;
}
