* {
    box-sizing: border-box !important;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

body {
    /* margin-left: 10%;
  margin-right: 10%; */
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, #333, #111);
    /* background-color: #1e1e1e; */
    font-family: "Roboto", sans-serif;
    color: blanchedalmond;
}

#grid {
    display: grid;
    place-items: center;
    margin: 8em 8em;
    width: 100%;
    height: 100vh;
    grid-template-columns: minmax(230px, 1fr);
    grid-template-rows: auto 1fr auto auto auto auto 8em;
    grid-template-areas:
        "h1"
        "container"
        "option-panel"
        "operations"
        "errors"
        "output"
        "footer";
}

/* style="width: 1200px; height: 800px; border: 1px solid grey" */
/* make my editor fill its slot of the grid */
/* make the other elements space out */
#container {
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-bottom: 25px; */
    /* width: 80%; */
    /* height: 650px; */
    place-self: stretch;
    /* width: 80%; */
    border: solid;
    border-color: grey;
    margin-bottom: 20px;
}

#option_panel {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: max-content;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-color: grey;
    background-color: #404040;
    margin-bottom: 20px;
}

#operations {
    margin: 0 auto;
    width: 50%;
    /* width: max-content; */
    border-radius: 10px;
    border-style: solid;
    border: solid;
    border-color: grey;
    background-color: #404040;
    margin-bottom: 20px;
}

#errors {
    width: 50%;
}

#output {
    visibility: hidden;
    width: 50%;
    padding: 10px;
    border: solid;
    border-color: grey;
    background-color: black;
}

#footer {
}

.display_output {
    visibility: visible !important;
}

.error {
    text-align: center;
    background-color: #ff6961;
    padding: 20px;
    font-weight: bold;
    color: white;
    width: max-content;
    margin-bottom: 20px;
    border-radius: 10px;
    /* transform: scale(0);
    transition: 0.5s; */
    box-shadow: 0 0 5px rgb(240, 102, 0);
}

.bounce-in {
    animation: bounce-in 0.8s ease;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    /* 70% { transform: scale(.9); } */
    100% {
        transform: scale(1);
    }
}

#url {
    padding-left: 10px;
    width: 80%;
    background-color: #e7e4e4;
    margin-bottom: 10px;
    border: none;
}

.btn {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    margin: 15px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.green {
    background-color: #b8bb26;
    /* background-color: #2ecc71; */
    /* box-shadow: 0px 5px 0px 0px #15b358; */
}

.green:hover {
    /* background-color: #48e68b; */
}

.blue {
    /* background-color: #55acee; */
    background-color: #83a598;
    /* box-shadow: 0px 5px 0px 0px #3c93d5; */
}

.blue:hover {
    /* background-color: #6fc6ff; */
}

.option {
    font-size: 18;
    margin-bottom: 10px;
}

.lambda {
    color: #b16186;
    font-weight: bold;
}

.line {
    display: inline;
    color: #fbf1c7;
    /* font-weight: bold; */
}
