* {
  box-sizing: border-box !important;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

body {
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: 0;
  padding: 0;
  background: linear-gradient(150deg, #333, #111);
  /* background-color: #1e1e1e; */
  font-family: "Roboto", sans-serif;
  color: blanchedalmond;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 80%;
  height: 650px;
}

.error {
  text-align: center;
  background-color: #ff6961;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  width: max-content;
  border-radius: 10px;
  /* transform: scale(0);
    transition: 0.5s; */
  box-shadow: 0 0 5px rgb(240, 102, 0);
}

.bounce-in {
  animation: bounce-in 0.8s ease;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  /* 70% { transform: scale(.9); } */
  100% {
    transform: scale(1);
  }
}

#option_panel {
  display: flex;
  flex-direction: column;
  width: max-content;
  width: 50%;
  padding-left: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border-style: solid;
  border: solid;
  border-color: grey;
  background-color: #404040;
  margin-bottom: 50px;
}

#operations {
  margin: 0 auto;
  width: 50%;
  width: max-content;
  border-radius: 10px;
  border-style: solid;
  border: solid;
  border-color: grey;
  background-color: #404040;
  margin-bottom: 50px;
}

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 15px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  /* box-shadow: 0px 5px 0px 0px #15b358; */
}

.green:hover {
  background-color: #48e68b;
}

.blue {
  background-color: #55acee;
  /* box-shadow: 0px 5px 0px 0px #3c93d5; */
}

.blue:hover {
  background-color: #6fc6ff;
}

.option {
  margin-bottom: 10px;
  font-size: 18;
  margin-bottom: 10px;
}

textarea {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"],
textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"],
textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
